<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
    <body id = "page7">
    <h1>Task Monitor</h1>
    <h2>
        <a href="/">Home</a> <br>
        <a href="/addnewtask">Add new task</a> <br>
        <a href="/listtask">List all tasks</a> <br>
        <a href="/deletetask">Delete task</a> <br>
        <a href="/deleteOldComplete">Delete completed tasks past due date</a> <br>
        <a href="/updatetask">Update tasks</a> <br>
    </h2>
    <h3>
        DELETE ALL COMPLETED TASKS
    </h3>
    <form action="/confdelallcompdata" method = "POST">
        <button type ="submit" onclick="redirect()">Confirm?</button>
    </form>
</body>

</html>