<html>

<head>
    <link rel="stylesheet" href="myStyle.css">
</head>

<body>
    <h1>Delete All</h1></br>


    <form class="form" action="/deleteAllTask" method="POST">
        <p>Are you sure you want to delete all completed tasks?</p>
        <input class="radio" type="radio" name="selection" value="true"> Yes<br>
        <input class="radio" type="radio" name="selection" value="false"> No<br>
        <button>Submit</button>
    </form>
    <h3>
        <a href="/">Home</a><br>
        <a href="/addNewDev">Add new developer</a></br>
        <a href="/listDev">List All developers</a></br>
        <a href="/newtask">Add new Task</a></br>
        <a href="/listTask">List Task</a></br>
        <a href="/updateTask">Update Task</a><br />
        <a href="/deleteTask">Delete Task</a><br />
        <a href="/insertMany"> Insert Many</a>
    </h3>
</body>

</html>